* {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 57px;
  font-weight: 500;
}
label {
  display: inline-block;
  font-size: small;
  margin-bottom: 10px;
}
.heading{
    font-size: 20px;
    margin-top: 10px;
}
.submit{
    border: 0px;
}
